
input[type=checkbox]{
    display: none;
}
/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 35px;
    user-select: none;
}

@media (max-width: 768px) {
    .navbar {
        display: block;
    }

    .pict {
        position:relative;
        max-width: 50em;
        display: flex;
        align-items: center;
        margin: auto;
    }


    .menu {
        display:none;
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
        padding: 5px 0;
        z-index: 1;
    }
    .menu li:hover {
        display: inline-block;
        background-color:#4c9e9e;
        transition: 0.3s ease;
    }
    .menu li + li {
        margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .menu{
        display: block;
    }

    .hamburger {
        display: block;
    }


    .card {
        width: 90%;
    }

    .footer_row {
        display: block;
    }

    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
